@import "../../mapp.scss";

.service {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  //   position: relative;
  @include mobile {
  }

  p {
    font-size: 0.9em;
  }
  .very-top-service {
    display: flex;
    align-self: flex-end;
    gap: 40px;
    align-items: center;
    margin-top: 10px;
    @include mobile {
      padding-top: 20px;
      padding-left: 20px;
      align-self: flex-start;
      gap: 20px;
    }
    br {
      @include mobile {
        display: none;
      }
    }

    hr {
      width: 300px;
      border: none;
      border-top: 0.5px solid rgba(128, 128, 128, 0.671);
      @include mobile {
        width: 100px;
      }
    }
  }

  //   container
  .container {
    max-width: 1300px;
    margin: auto;
    // border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .top-service {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .top1 {
    display: flex;
    gap: 10px;
    @include mobile {
      flex-direction: column;
    }

    h2 {
      font-weight: 700;
      font-size: 5em;
      width: 300px;
      @include mobile {
        font-size: 2em;
        text-align: center;
      }
    }
    span {
      font-weight: 100;
    }
  }
  .top2 {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    @include mobile {
      flex-direction: column;
      border-top: 1px solid rgb(43, 43, 103);
    }
    h2 {
      font-weight: 700;
      font-size: 5em;
      @include mobile {
        font-size: 2em;
      }
    }
    span {
      font-weight: 100;
    }
    button {
      padding: 25px 50px;
      border-radius: 50px;
      background-color: orange;
      border: none;
      font-size: 1em;
      cursor: pointer;
      @include mobile {
        padding: 10px 30px;
      }
    }
  }
  img {
    width: 300px;
    height: 100px;
    border-radius: 50px;
    margin: auto;
    @include mobile {
      width: 150px;
      height: 50px;
    }
  }

  .bottom-service {
    display: flex;
    // gap: 40px;
    div {
      padding: 50px;
      //   border: 2px solid red;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 2em;
      transition: all 0.3s ease-in-out;
      @include mobile {
        display: none;
      }
    }
    div:hover {
      border-radius: 5px;
      background-color: rgba(211, 211, 211, 0.45);
      color: black;
    }
    h2 {
      text-align: center;
    }
    button {
      padding: 10px 100px;
      border: none;
      background-color: orange;
      font-size: 1em;
      border-radius: 2px;
      cursor: pointer;
    }
  }
}
