@import "../../mapp.scss";
.parellax {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  h1 {
    font-size: 70px;
    color: #ffffffb2;
    @include mobile {
      font-size: 40px;
    }
  }
  .mountains {
    background-image: url("/mountains.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;

    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    @include mobile {
      background-position: contain;
      background-size: contain;
    }
  }
  .planets {
    background-image: url("/planets.png");
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    @include mobile {
      background-position: top;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  .stars {
    background-image: url("/stars.png");
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
  }
}
